<html>
  <head>
	<title>@tweetTrek</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/local.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js"></script>
	<script type="text/javascript" src="static/js/reconnecting-websocket.js"></script>
    <script type="text/javascript" src="static/js/local.js"></script>
  </head>
  <body>
	<div class="container">
	  <div class="page-header">
		<img src="https://pbs.twimg.com/profile_images/437352827795431424/cswSjY5S_bigger.png" style="float: left; margin-right: 1em; border-radius: 10px;">
		<h1><a href="https://twitter.com/tweetTrek">@tweetTrek</a></h1>
		<div style="display: inline-block">
		  <a href="https://twitter.com/intent/tweet?screen_name=tweetTrek" class="twitter-mention-button" data-lang="en" data-size="large">Tweet to @tweetTrek</a>
		</div>
	  </div>
	  <div id="live">
		<p id="teaser">tweets will show up here, as they happen! if they don't, your browser might not support <a href="http://caniuse.com/websockets">websockets</a>.</p>
	  </div>
	</div>
  </body>
</html>
